Source: rrplayer-fc
Section: non-free/sound
Priority: extra
Maintainer: David Purdy <david@radioretail.co.za>
Build-Depends: cdbs, debhelper (>= 5), autotools-dev, libglib1.2-dev, libpqxx-dev, xmms-dev
Standards-Version: 3.7.2

Package: rrplayer-fc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mp3info, psmisc, rrmedia-maintenance (>=0.16), rrschedule-db (>=3.65), rrstart-xmms (>=0.2), rrxmms-config
Conflicts: rrplayer, rrxmms, rrxmms-persistence
Description: Format Clock version of the Instore Player
 Controls playback of music and announcements instore.
 Playback times, schedules, etc are determined by settings
 in the instore Schedule database.
