#!/usr/bin/make -f
  
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

# Add here any variable or target overrides you need.

# Post-install actions:
install/rrplayer-fc::
	cp -var data/* debian/rrplayer-fc/
	mv debian/rrplayer-fc/usr/bin/player debian/rrplayer-fc/data/radio_retail/progs/player/player
	rm debian/rrplayer-fc/usr/lib/libcommon.a
	rmdir debian/rrplayer-fc/usr/lib
	rmdir debian/rrplayer-fc/usr/bin
	rmdir debian/rrplayer-fc/usr

CPPFLAGS = -I/usr/include/postgresql/ -I/usr/include/glib-1.2/ -I/usr/lib/glib/include/

